{% extends "base.html" %}

{% block title %}添加分组{% endblock %}


{% block navbar %}
    <section class="content-header">
        <h1>添加分组</h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> 当前位置</li>
            <li class="active">接口分组</li>
            <li class="active">添加分组</li>
        </ol>
    </section>
{% endblock %}


{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
{#            {% include 'message.html' %}#}
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                   <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                分组列表
                            </h3>
                        </div>
                       {% if group %}
                            <div class="list-group info">
                                {% for info in group %}
                                  <a href="#" class="list-group-item">{{ info.group_name }}
                                      <button type="button" class="close rm" aria-label="Close" gp="{{ info.id }}" onclick='remover_list(this)'>
                                          <span aria-hidden="true">&times;</span>
                                      </button></a>
                                {% endfor %}
                            </div>
                       {% else %}
                            <div class="panel-body noneinfo">
                                暂无相关信息
                            </div>
                       {% endif %}
                   </div>

               </div>
              <div class="col-md-8">
                  <form class="form-horizontal" >
                      <div class="form-group">
                        <label  class="col-sm-2 control-label">分组名称</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="gp_name" placeholder="请输入主机描述">
                        </div>
                      </div>

                      <div class="form-group" style="padding-top: 50px">
                        <div class="col-sm-offset-2 col-sm-8">
                          <button type="button" class="btn btn-primary" id="ms_sb">添加</button>
                          <button type="reset" class="btn btn-warning">重置</button>
                        </div>
                      </div>
                    </form>
              </div>

            </div>
        </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='ms/gp.js') }}"></script>
    <script>
    function initPage() {
        slide_value = $(".slider").val() == "" ? 50 : parseInt($(".slider").val());
        $(".slider").slider({
            id: "blue",
            max: 100,
            value: slide_value
        });
    }
</script>
{% endblock %}